{{ $leaflet := resources.Get "/vendor/leaflet/dist/leaflet.css" }}
{{ $bulma := resources.Get "/vendor/bulma/css/bulma.css" }}
{{ $bundleRaw := resources.Get "/scss/style.scss" | resources.ExecuteAsTemplate "/css/pointme.tmp.css" . }}

{{ if .Site.IsServer }}
{{ $cssOpts := (dict "targetPath" "/css/vendor.bundle.css" "enableSourceMap" true ) }}
{{ $vendor := slice $bulma $leaflet | resources.Concat "/css/bundle.vendor.tmp.css" | toCSS $cssOpts }}
<link rel="stylesheet" href="{{ $vendor.Permalink }}" media="screen">
{{ $cssOpts := (dict "targetPath" "/css/pointme.css" "enableSourceMap" true ) }}
{{ $bundle :=  $bundleRaw | toCSS $cssOpts }}
<link rel="stylesheet" href="{{ $bundle.Permalink }}" media="screen">
{{ else }}
{{ $cssOpts := (dict "targetPath" "/css/vendor.bundle.css" ) }}
{{ $postCSSOpts := (dict "use" "autoprefixer" ) }}
{{ $vendor := slice $bulma $leaflet | resources.Concat "/css/bundle.vendor.tmp.css" | toCSS $cssOpts | postCSS $postCSSOpts | minify | fingerprint}}
<link rel="stylesheet" href="{{ $vendor.Permalink }}" integrity="{{ $vendor.Data.Integrity }}" media="screen">
{{ $cssOpts := (dict "targetPath" "/css/pointme.css" ) }}
{{ $postCSSOpts := (dict "use" "autoprefixer" ) }}
{{ $bundle := $bundleRaw | toCSS $cssOpts | postCSS $postCSSOpts | minify | fingerprint }}
<link rel="stylesheet" href="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" media="screen">
{{ end }}
