<!DOCTYPE html>
<html>
{{- block head . }}
{{- partial "head/meta.html" . -}}
{{- partial "head/css.html" . -}}
{{- end }}
<body>
  {{- partial "header.html" . -}}
  <div id="map">
    {{- block "main" . }}{{- end }}
  </div>
  {{- block footer . }}
  {{- partial "footer/scripts.html" . -}}
  {{- end }}
</body>
</html>
