<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head/meta.html" . }}
{{ partial "head/css.html" . }}
<body>
  <div id="map">
  </div>
  {{ partial "footer/scripts.html" . }}
</body>
</html>
